#the-basics{
    font-size: 3em;    
}

#the-basics  input{
    margin: 50px;
    
}

/*
.tt-dataset .tt-dataset-states{
    margin-left: 50.5% !important;
}*/

.tt-suggestion {
    margin-left: 50px;
}
